# Tuples

In [1]:
# tuple data structure
# tuple can store any data type
# most important tuples are immutable, onece tuple is created you can't update
# data inside tuple

In [2]:
example = ('one', 'two', 'three')
# no append, no insert, no pop, no remove
# days = ('monday','tuesday')
# tuples are faster than lists

In [7]:
# methods can be used in tuples
# count, index,
print(example.count("one"))
# len function
print(len(example))

1
3

In [8]:
example [0] = 1
print(example)

TypeError: 'tuple' object does not support item assignment

In [10]:
example[0:]

('one', 'two', 'three')

In [11]:
example[:2]

('one', 'two')

In [12]:
example[::-1]

('three', 'two', 'one')

In [13]:
example[-1]

'three'

In [14]:
example[:-1]

('one', 'two')

In [15]:
example[-1:]

('three',)

In [16]:
example[-2]

'two'

In [17]:
print(example)

('one', 'two', 'three')

In [18]:
# tuples in loops
mixed = (1, 2, 3, 4.0)
for i in mixed:
    print(i)

1
2
3
4.0

In [24]:
mixed = (1,2,3,4.0)
i = 0
while i < len(mixed):
    print(mixed[i])
    i += 1

1
2
3
4.0

In [25]:
# tuple with one element
num = (1,)
type(num)

tuple

In [26]:
word = ("words")
type(word)

str

In [27]:
word = ("words",)
type(word)

tuple

In [29]:
string = ("habib, you are bad boy, right")
print(string)
type(string)

habib, you are bad boy, right

str

In [1]:
# tuples without parenthesis

cars = "toyota", "BMW", "Audi"
print(type(cars))

<class 'tuple'>

In [2]:
#tuple unpacking
cars = ("toyota", "BMW", "Audi")
cars1, cars2, cars3 = (cars)
print(cars1)

toyota

In [3]:
print(cars2)

BMW

In [6]:
print(cars3)

Audi

In [7]:
# list inside tuple
cars = ("toyota", "BMW", "Audi", ["suzuki","hero","kawasaki"])
cars[3].pop()

'kawasaki'

In [8]:
print(cars)

('toyota', 'BMW', 'Audi', ['suzuki', 'hero'])

In [9]:
cars[3].append("Bajaj")
print(cars)

('toyota', 'BMW', 'Audi', ['suzuki', 'hero', 'Bajaj'])

In [14]:
# function returning two values

def func(int1, int2):
    add = int1 + int2
    multiply = int1 * int2
    return add, multiply
add, multiply = func(5,6)

In [11]:
type(func)

function

In [16]:
print (add)
print(multiply)

11
30

In [18]:
nums = tuple(range(1,11))
print(nums)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [19]:
num_l = list((1, 2, 3, 4, 5, 6, 7, 8, 9, 10))
print(num_l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [20]:
nums_s = str(num_l)
print(nums_s)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [21]:
type(nums_s)

str